.delete{
    
    background: #efefef;
    padding: .3rem .6rem;
    line-height: 1;
    border: 1px solid transparent;
    font-size: .875rem;
    font-family: var(--type-first);
    cursor: pointer;
    border-radius: .4rem;
    transition: .1s;

}

.delete:focus,
.delete:hover{

    outline: none;
    background: #fff;
    color: #111;
    box-shadow: 0 0 0 2px #fb0, 0 0 0 3px #fea;
    border-color: #222;
}